// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-soft-white: #f6f6f6;
$color-soft-black: #181b17;
$color-green: #1a8466;
$color-light-green: #57c479;
$color-yellow: #e9ae0b;
$color-light-yellow: #ffdc11;


// Breakpoints
$grid-breakpoints: (
    xs: 480px,
    sm: 576px,
    sm-2: 640px,
    md: 768px,
    md-2: 992px,
    lg: 1200px
);
