// Colors
$color-white: #ffffff;
$color-black: #000000;


// Breakpoints
$grid-breakpoints: (
    xs: 479.98px,
    sm: 575.98px,
    sm-2: 639.98px,
    md: 767.98px,
    md-2: 991.98px,
    lg: 1199.98px
);
