@font-face {
  font-family: 'Qanelas-Extra-Bold';
  src: url("../fonts/qanelassoftextrabold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/qanelassoftextrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/qanelassoftextrabold.woff2") format("woff2"), url("../fonts/qanelassoftextrabold.woff") format("woff"), url("../fonts/qanelassoftextrabold.ttf") format("truetype"), url("../fonts/qanelassoftextrabold.svg#qanelassoftextrabold") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Qanelas-Bold';
  src: url("../fonts/qanelassoftbold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/qanelassoftbold.eot?#iefix") format("embedded-opentype"), url("../fonts/qanelassoftbold.woff2") format("woff2"), url("../fonts/qanelassoftbold.woff") format("woff"), url("../fonts/qanelassoftbold.ttf") format("truetype"), url("../fonts/qanelassoftbold.svg#qanelassoftbold") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Qanelas-Light';
  src: url("../fonts/QanelasSoft-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/QanelasSoft-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/QanelasSoft-Light.woff2") format("woff2"), url("../fonts/QanelasSoft-Light.woff") format("woff"), url("../fonts/QanelasSoft-Light.ttf") format("truetype"), url("../fonts/QanelasSoft-Light.svg#QanelasSoft-Light") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Helvetica-Light';
  src: url("../fonts/helveticanowdisplaylight.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helveticanowdisplaylight.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticanowdisplaylight.woff2") format("woff2"), url("../fonts/helveticanowdisplaylight.woff") format("woff"), url("../fonts/helveticanowdisplaylight.ttf") format("truetype"), url("../fonts/helveticanowdisplaylight.svg#helveticanowdisplaylight") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Helvetica-Bold';
  src: url("../fonts/helveticanowdisplaybold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helveticanowdisplaybold.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticanowdisplaybold.woff2") format("woff2"), url("../fonts/helveticanowdisplaybold.woff") format("woff"), url("../fonts/helveticanowdisplaybold.ttf") format("truetype"), url("../fonts/helveticanowdisplaybold.svg#helveticanowdisplaybold") format("svg");
  /* Legacy iOS */
  font-weight: bold; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

h1 {
  font-family: 'Qanelas-Extra-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 3.75rem;
  line-height: 1.2;
  text-transform: uppercase; }

h2 {
  font-family: 'Qanelas-Extra-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
  text-transform: uppercase; }

.caption {
  font-family: 'Qanelas-Light', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 13px;
  line-height: 1;
  font-weight: light; }

.caption-strong {
  font-family: 'Qanelas-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 13px;
  line-height: 1;
  font-weight: bold; }

p {
  font-family: 'Helvetica-Light', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  margin: 0; }

strong {
  font-family: 'Helvetica-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 800; }

.btn {
  font-family: 'Helvetica-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12); }
  .btn--yellow {
    background-color: #e9ae0b; }
    .btn--yellow:hover {
      background-color: #ffdc11; }
  .btn--circle {
    border-radius: 100%;
    padding: 16px; }

@media only screen and (max-width: 1199.98px) {
  h1 {
    font-size: 3.5rem; } }

@media only screen and (max-width: 991.98px) {
  h1 {
    font-size: 3.25rem; }
  h2 {
    font-size: 2.25rem; }
  .caption {
    font-size: 13px; }
  p {
    font-size: 1.2rem; } }

.header {
  margin: 50px 0 30px 0; }
  .header__call-us {
    margin: auto 0 auto auto; }
    .header__call-us--text {
      display: flex;
      flex-direction: row;
      font-size: 13px; }
    .header__call-us--text:before {
      content: "";
      flex: 1 1;
      border-bottom: 1px solid #000;
      margin: auto;
      margin-right: 20px;
      width: 300px; }
  .header__dropdown {
    margin-left: 30px; }
    .header__dropdown .dropdown-toggle {
      background: #f6f6f6;
      border: 0;
      border-radius: 8px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 6px 6px 4px rgba(0, 0, 0, 0.12);
      padding: 12px; }
      .header__dropdown .dropdown-toggle::after {
        display: none; }
  .header .dropdown-menu.show {
    top: 100% !important;
    left: 0px !important;
    transform: translate3d(-137px, 0px, 0px) !important; }

.slider {
  outline: none; }
  .slider__row {
    width: 100%;
    margin: 0; }
  .slider__image {
    width: 100%;
    height: auto; }
    .slider__image--img {
      max-width: 90%; }
  .slider__content .caption {
    margin: 30px 0 0 10px; }
  .slider__content .hero__button {
    margin: 20px 0 0 10px; }
    .slider__content .hero__button .btn--yellow {
      height: fit-content;
      padding: 16px 24px;
      margin: auto 10px auto 0; }

.js-hero-slider {
  padding: 30px 0; }
  .js-hero-slider .slick-prev,
  .js-hero-slider .slick-next {
    display: none !important; }
  .js-hero-slider .slick-dots {
    bottom: 0; }
    .js-hero-slider .slick-dots .slick-active button:before {
      background: #e9ae0b; }
    .js-hero-slider .slick-dots li button:before {
      opacity: 1;
      color: transparent;
      border-radius: 100%;
      background: #ffdc11;
      width: 16px;
      height: 16px; }

.who-used {
  background: #57c479;
  padding: 70px 0 70px 0;
  position: relative; }
  .who-used__title {
    z-index: 10;
    position: relative; }
    .who-used__title h2 {
      display: flex;
      flex-direction: row;
      max-width: 1140px;
      margin: 0 auto; }
      .who-used__title h2:before {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid #000;
        margin: auto;
        position: absolute;
        bottom: -18px;
        left: 0;
        margin-right: 20px;
        width: 450px; }
  .who-used__img img {
    margin: -70px auto 30px auto;
    z-index: 8;
    position: relative;
    width: 550px;
    height: auto; }
  .who-used__content .row {
    margin: 0; }
  .who-used__content--body {
    background: #f6f6f6;
    padding: 16px;
    margin: 0 6px;
    border: none;
    border-radius: 100px; }

.bg-wave {
  margin-top: -3px; }

.statistict {
  overflow: hidden; }
  .statistict__img-person {
    width: auto;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
  .statistict__content {
    padding: 70px 0 10px 0; }
    .statistict__content--garden {
      padding: 0;
      width: 100%; }
      .statistict__content--garden-img-box {
        width: 60%;
        align-items: center;
        justify-content: flex-end; }
      .statistict__content--garden-body-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
    .statistict__content--farm-pie {
      padding: 0;
      width: 100%; }
    .statistict__content--farm-img-box {
      display: flex;
      align-items: center; }
    .statistict__content--farm-body-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .statistict__content--pie-img-box {
      display: flex;
      align-items: center; }
    .statistict__content--pie-body-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .statistict__content--text {
      text-align: right;
      margin-bottom: 30px; }
    .statistict__content--img, .statistict__content--body {
      padding: 0; }
    .statistict__content--body-text {
      align-items: center;
      margin-left: 6px; }
    .statistict__content--img-display {
      width: 300px; }
    .statistict__content--img-display-2 {
      width: 150px; }
    .statistict__content--img-display-3 {
      height: 100px;
      width: auto;
      margin-right: 6px; }

.learn {
  padding: 70px 0;
  background: #f6f6f6;
  color: #1a8466;
  position: relative; }
  .learn-1, .learn-2, .learn-3 {
    padding-bottom: 70px; }
  .learn-btn {
    padding: 16px 24px; }
  .learn__bg {
    position: absolute;
    z-index: 10;
    right: 0;
    width: 300px;
    bottom: -150px; }

.they-used {
  background: #57c479;
  padding: 70px 0 70px 0;
  position: relative; }
  .they-used .container {
    max-width: 960px; }
  .they-used__title {
    z-index: 10;
    position: relative; }
    .they-used__title h2 {
      display: flex;
      flex-direction: row;
      max-width: 1140px;
      margin: 0 auto; }
      .they-used__title h2:before {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid #ffffff;
        margin: auto;
        position: absolute;
        bottom: -18px;
        left: 0;
        margin-right: 20px;
        width: 450px; }
  .they-used .slider {
    padding: 50px 0; }
    .they-used .slider__image {
      display: flex;
      justify-content: center;
      align-content: center; }
      .they-used .slider__image img {
        width: 250px;
        margin: auto;
        box-shadow: 0px 20px 8px -16px rgba(24, 27, 23, 0.5);
        border-radius: 100%; }
    .they-used .slider__content--text {
      margin-top: 70px;
      margin-left: 12px; }
    .they-used .slider__quote {
      height: 50px;
      position: absolute; }
  .they-used .slick-next, .they-used .slick-prev {
    top: 50%;
    width: 40px;
    height: 40px;
    background-size: contain !important;
    transition: all ease .2s; }
  .they-used .slick-prev:before,
  .they-used .slick-next:before {
    opacity: 0; }
  .they-used .slick-prev {
    left: -50px;
    background: url(../images/arrow.svg); }
    .they-used .slick-prev:hover {
      transform: scale(1.5) translate(-7px, -7px); }
  .they-used .slick-next {
    background: url(../images/arrow.svg);
    right: -50px;
    transform: rotate(180deg) translateY(20px); }
    .they-used .slick-next:hover {
      transform: rotate(180deg) scale(1.5) translate(-7px, 7px); }

.partner {
  background: #f6f6f6;
  padding: 70px 0 70px 0;
  position: relative; }
  .partner .container {
    max-width: 960px; }
  .partner__title {
    z-index: 10;
    position: relative; }
    .partner__title h2 {
      display: flex;
      flex-direction: row;
      max-width: 1140px;
      margin: 0 auto; }
      .partner__title h2:before {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid #181b17;
        margin: auto;
        position: absolute;
        bottom: -18px;
        left: 0;
        margin-right: 20px;
        width: 140px; }
  .partner__bg {
    position: absolute;
    right: 0;
    bottom: -90px;
    width: 350px; }
  .partner__slider {
    background: #f6f6f6; }
    .partner__slider--box {
      padding: 50px 0; }
  .partner .slick-slide {
    outline: none; }
    .partner .slick-slide img {
      display: block;
      width: auto;
      height: 100px;
      margin: 0 auto; }
  .partner .slick-prev,
  .partner .slick-next {
    display: none !important; }

.contact {
  padding: 70px 0 70px 0;
  position: relative; }
  .contact__title {
    z-index: 10;
    position: relative; }
    .contact__title h2 {
      display: flex;
      flex-direction: row;
      max-width: 1140px;
      margin: 0 auto; }
      .contact__title h2:before {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid #181b17;
        margin: auto;
        position: absolute;
        bottom: -18px;
        left: 0;
        margin-right: 20px;
        width: 140px; }
  .contact__box {
    margin: 100px; }
  .contact__content {
    position: relative;
    z-index: 10; }
  .contact__bg {
    position: absolute;
    left: -35%;
    top: 0;
    height: 500px; }
  .contact .form-control {
    border-color: #1a8466;
    border-radius: 12px; }
    .contact .form-control::placeholder {
      color: #1a8466; }
  .contact .form-btn {
    padding: 24px 64px; }

.footer__upper {
  background: #181b17;
  padding: 16px 0;
  color: white; }
  .footer__upper .language {
    margin: auto 0; }
    .footer__upper .language__text {
      text-transform: capitalize;
      display: inline;
      margin: auto 15px auto 0; }
    .footer__upper .language__flag {
      display: inline;
      margin: auto 0;
      border-radius: 100%;
      border: 1px solid #ffdc11; }
    .footer__upper .language__btn {
      color: #ffffff;
      box-shadow: none;
      padding: 8px 16px; }
      .footer__upper .language__btn:hover, .footer__upper .language__btn:focus {
        color: #000000;
        background: #95a5a6; }
    .footer__upper .language .dropup {
      display: inline-block;
      vertical-align: middle; }
      .footer__upper .language .dropup .dropdown-toggle::after {
        display: none; }
  .footer__upper .upper-link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    left: 5px; }
    .footer__upper .upper-link img {
      width: 18px;
      height: 18px; }

.footer__inner {
  padding: 120px 0 100px 0;
  background: url(../images/bg-footer.png) center no-repeat;
  filter: grayscale(100%);
  color: white;
  background-size: cover; }
  .footer__inner .container .row {
    justify-content: flex-end; }
  .footer__inner--email {
    margin-top: 6px;
    overflow-wrap: break-word; }
  .footer__inner--address {
    overflow-wrap: break-word;
    margin-top: 24px; }

.footer__foot {
  background: #181b17;
  padding: 16px 0;
  color: white;
  text-align: center; }
  .footer__foot--img {
    max-width: 200px; }
  .footer__foot .caption {
    margin-top: 6px; }

@media only screen and (max-width: 1199.98px) {
  .who-used__title h2 {
    margin-left: 16px; }
  .statistict .container {
    max-width: 100%; }
  .statistict__content {
    padding: 30px 0 10px 0; }
  .partner {
    padding: 50px 0 50px 0; }
    .partner .container {
      max-width: 768px; }
    .partner__title h2 {
      margin-left: 16px; }
      .partner__title h2:before {
        width: 90px; }
    .partner__bg {
      position: absolute;
      right: 0;
      bottom: -120px;
      width: 350px; }
    .partner__slider--box {
      padding: 50px 0; }
    .partner .slick-slide img {
      height: 65px; }
  .learn__bg {
    width: 200px;
    bottom: -120px; }
  .they-used__title h2 {
    margin-left: 16px; }
  .they-used .container {
    max-width: 768px; }
  .contact {
    padding: 50px 0 50px 0; }
    .contact .container {
      max-width: 100%; }
    .contact__title h2 {
      margin-left: 16px; }
      .contact__title h2:before {
        width: 90px; }
    .contact__box {
      margin: 100px; }
    .contact__content {
      position: relative;
      z-index: 10; }
    .contact__bg {
      position: absolute;
      left: -35%;
      top: 30px;
      height: 400px; }
    .contact .form-control {
      border-color: #1a8466;
      border-radius: 12px; }
      .contact .form-control::placeholder {
        color: #1a8466; }
    .contact .form-btn {
      padding: 24px 64px; } }

@media only screen and (max-width: 1023.98px) {
  .statistict .container {
    max-width: 100%; }
  .statistict__content {
    padding: 30px 0 10px 0; }
    .statistict__content--farm-pie {
      margin: 24px 0 0 0; }
    .statistict__content--farm {
      width: 100%; }
      .statistict__content--farm-img-box {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 60%; }
        .statistict__content--farm-img-box img {
          margin-right: 5rem; }
    .statistict__content--pie {
      width: 100%;
      margin-top: 24px; }
      .statistict__content--pie-img-box {
        display: flex;
        justify-content: flex-end;
        width: 60%;
        align-items: center; }
        .statistict__content--pie-img-box img {
          margin-right: 6rem; } }

@media only screen and (max-width: 991.98px) {
  .header {
    margin: 30px 0 30px 0; }
    .header__call-us--text:before {
      margin-right: 10px;
      width: 150px; }
    .header__dropdown {
      margin-left: 30px; }
      .header__dropdown .dropdown-toggle {
        background: #f6f6f6;
        border: 0;
        border-radius: 8px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 6px 6px 4px rgba(0, 0, 0, 0.12);
        padding: 10px; }
        .header__dropdown .dropdown-toggle::after {
          display: none; }
  .slider__content .caption {
    margin: 0 0 0 10px; }
  .slider__content .hero__button {
    margin: 12px 0 24px 10px; }
    .slider__content .hero__button .btn--yellow {
      height: fit-content;
      padding: 16px 24px;
      margin: auto 10px auto 0; }
  .who-used {
    padding: 50px 0 50px 0; }
    .who-used__title h2:before {
      width: 350px; }
    .who-used__content {
      padding: 0 5px;
      margin: 0 auto;
      width: 100%; }
      .who-used__content--body {
        background: #f6f6f6;
        padding: 16px;
        margin: 0 3px;
        border: none;
        border-radius: 100px; }
  .statistict__img-person {
    width: 300px; }
  .statistict__content {
    padding: 30px 0 24px 0; }
  .they-used__title h2:before {
    width: 350px; }
  .they-used .container {
    max-width: 640px; }
  .they-used .slider__content .caption {
    margin: 6px 0 0 10px; }
  .partner .container {
    max-width: 640px; }
  .contact {
    padding: 50px 0 50px 0; }
    .contact .container {
      max-width: 100%; }
    .contact__title h2:before {
      width: 90px; }
    .contact__box {
      margin: 100px auto; }
    .contact__content {
      position: relative;
      margin-left: 30px;
      z-index: 10; }
    .contact__bg {
      left: -220px;
      top: 60px;
      height: 400px; }
    .contact .form-control {
      border-color: #1a8466;
      border-radius: 12px; }
      .contact .form-control::placeholder {
        color: #1a8466; }
    .contact .form-btn {
      padding: 24px 64px; }
  .footer__inner--1 {
    margin-left: auto; }
  .footer__inner--2 {
    margin-right: auto; } }

@media only screen and (max-width: 767.98px) {
  .header {
    margin: 30px 0 30px 0; }
    .header__call-us--text:before {
      margin-right: 10px;
      width: 150px;
      display: none; }
    .header__dropdown {
      margin-left: 30px; }
      .header__dropdown .dropdown-toggle {
        background: #f6f6f6;
        border: 0;
        border-radius: 8px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 6px 6px 4px rgba(0, 0, 0, 0.12);
        padding: 10px;
        padding: 8px;
        position: relative;
        top: 5px; }
        .header__dropdown .dropdown-toggle::after {
          display: none; }
        .header__dropdown .dropdown-toggle img {
          width: 20px;
          height: auto; }
    .header .dropdown-menu.show {
      top: calc(100% - 8px) !important;
      transform: translate3d(-157px, 0, 0) !important; }
  .js-hero-slider {
    padding: 0; }
    .js-hero-slider .slider__image {
      max-width: 100%;
      flex: 100%;
      text-align: center; }
      .js-hero-slider .slider__image--img {
        margin: 0 auto;
        max-width: 300px; }
    .js-hero-slider .slider__content {
      max-width: 100%;
      flex: 100%; }
      .js-hero-slider .slider__content h1 {
        margin: 0 0 0 10px; }
      .js-hero-slider .slider__content .caption {
        margin: 0 0 0 10px; }
      .js-hero-slider .slider__content .hero__button {
        margin: 10px 0; }
        .js-hero-slider .slider__content .hero__button .btn--yellow {
          height: fit-content;
          padding: 16px 24px;
          margin: auto 10px auto auto; }
        .js-hero-slider .slider__content .hero__button .btn--circle {
          margin-right: auto; }
    .js-hero-slider .slick-dots {
      bottom: -30px; }
  .slick-dotted.slick-slider {
    margin: 50px 0; }
  .who-used__title h2:before {
    width: 150px; }
  .who-used .container {
    max-width: 100%; }
  .who-used__img img {
    margin: -70px auto 0px auto;
    width: 300px; }
  .who-used__content--body {
    flex: 100%;
    margin: 8px auto; }
  .statistict__box-person {
    display: none; }
  .statistict__content {
    padding: 30px 0 24px 0; }
    .statistict__content--img-display {
      width: 150px;
      margin-right: 4rem; }
  .learn__bg {
    width: 120px;
    bottom: -60px; }
  .they-used__title h2:before {
    width: 150px; }
  .they-used .container {
    max-width: 100%; }
  .they-used .slider__image img {
    width: 150px; }
  .they-used .slick-prev,
  .they-used .slick-next {
    display: none !important; }
  .partner .container {
    max-width: 640px; }
  .partner__bg {
    bottom: -90px;
    width: 250px; }
  .partner__slider--img {
    max-width: 100%; }
  .contact {
    padding: 50px 0 50px 0; }
    .contact .container {
      max-width: 100%; }
    .contact__title h2:before {
      width: 90px; }
    .contact__box {
      margin: 50px auto; }
      .contact__box .row {
        flex-direction: column-reverse;
        margin: 0; }
    .contact__content {
      flex: 100%;
      max-width: 100%;
      margin-left: 8px; }
    .contact__images {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px; }
    .contact__bg {
      position: relative;
      height: 300px;
      top: 0;
      left: 0;
      max-width: 90%;
      height: auto; }
    .contact .form-control {
      border-color: #1a8466;
      border-radius: 12px; }
      .contact .form-control::placeholder {
        color: #1a8466; }
    .contact .form-btn {
      padding: 24px 64px; }
  .footer__upper .sign-in__btn {
    padding: 8px 16px;
    margin: auto 0 auto 8px; }
  .footer__upper .language {
    margin: auto 16px auto auto; }
    .footer__upper .language__text {
      margin: auto 6px auto 0; }
    .footer__upper .language__btn {
      padding: 0; }
    .footer__upper .language .dropup .dropdown-toggle::after {
      margin-left: 6px; }
  .footer__inner {
    padding: 70px 0 70px 0; }
    .footer__inner .container {
      padding: 0; }
      .footer__inner .container .row {
        margin: 0; }
    .footer__inner--1 {
      margin-left: auto; }
    .footer__inner--2 {
      margin-right: auto; }
    .footer__inner--email {
      overflow-wrap: break-word; }
    .footer__inner--address {
      overflow-wrap: break-word; } }

@media only screen and (max-width: 575.98px) {
  .footer__inner {
    background-position: bottom center;
    background-size: auto; }
    .footer__inner--1 {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 40px; }
    .footer__inner--2 {
      padding-left: 30px;
      padding-right: 30px; } }

@media only screen and (max-width: 479.98px) {
  .header__call-us {
    margin: 20px 0 auto auto;
    flex: 60%; }
  .who-used__img img {
    margin: -10px auto 0 auto;
    width: 300px; }
  .statistict__content {
    padding: 30px 9px 24px 8px; }
    .statistict__content--img-display {
      width: 120px;
      margin-right: 0; }
    .statistict__content--farm-img-box img {
      margin-right: 0; }
    .statistict__content--pie-img-box img {
      margin-right: 10px;
      height: 70px; }
  .learn__bg {
    width: 100px;
    bottom: -70px; }
  .they-used .slider__row {
    flex-direction: column; }
  .they-used .slider__content--text {
    margin-top: 40px; }
  .they-used .slider__quote {
    height: 30px; }
  .partner__bg {
    bottom: -30px;
    width: 150px; } }

/*# sourceMappingURL=main.css.map */
