@font-face {
  font-family: 'Qanelas-Extra-Bold';
  src: url("../fonts/qanelassoftextrabold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/qanelassoftextrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/qanelassoftextrabold.woff2") format("woff2"), url("../fonts/qanelassoftextrabold.woff") format("woff"), url("../fonts/qanelassoftextrabold.ttf") format("truetype"), url("../fonts/qanelassoftextrabold.svg#qanelassoftextrabold") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Qanelas-Bold';
  src: url("../fonts/qanelassoftbold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/qanelassoftbold.eot?#iefix") format("embedded-opentype"), url("../fonts/qanelassoftbold.woff2") format("woff2"), url("../fonts/qanelassoftbold.woff") format("woff"), url("../fonts/qanelassoftbold.ttf") format("truetype"), url("../fonts/qanelassoftbold.svg#qanelassoftbold") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Qanelas-Light';
  src: url("../fonts/QanelasSoft-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/QanelasSoft-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/QanelasSoft-Light.woff2") format("woff2"), url("../fonts/QanelasSoft-Light.woff") format("woff"), url("../fonts/QanelasSoft-Light.ttf") format("truetype"), url("../fonts/QanelasSoft-Light.svg#QanelasSoft-Light") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Helvetica-Light';
  src: url("../fonts/helveticanowdisplaylight.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helveticanowdisplaylight.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticanowdisplaylight.woff2") format("woff2"), url("../fonts/helveticanowdisplaylight.woff") format("woff"), url("../fonts/helveticanowdisplaylight.ttf") format("truetype"), url("../fonts/helveticanowdisplaylight.svg#helveticanowdisplaylight") format("svg");
  /* Legacy iOS */ }

@font-face {
  font-family: 'Helvetica-Regular';
  src: url("../fonts/helveticanowdisplayregular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helveticanowdisplayregular.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticanowdisplayregular.woff2") format("woff2"), url("../fonts/helveticanowdisplayregular.woff") format("woff"), url("../fonts/helveticanowdisplayregular.ttf") format("truetype"), url("../fonts/helveticanowdisplayregular.svg#helveticanowdisplayregular") format("svg");
  /* Legacy iOS */
  font-weight: bold; }

@font-face {
  font-family: 'Helvetica-Bold';
  src: url("../fonts/helveticanowdisplaybold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/helveticanowdisplaybold.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticanowdisplaybold.woff2") format("woff2"), url("../fonts/helveticanowdisplaybold.woff") format("woff"), url("../fonts/helveticanowdisplaybold.ttf") format("truetype"), url("../fonts/helveticanowdisplaybold.svg#helveticanowdisplaybold") format("svg");
  /* Legacy iOS */
  font-weight: bold; }

/** Lato Typeface */
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-black-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-black-webfont.svg#lato-black-webfont") format("svg"), url("../fonts/lato-black-webfont.ttf") format("truetype"), url("../fonts/lato-black-webfont.woff") format("woff");
  /* Pretty Modern Browsers */
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bold-webfont.svg#lato-bold-webfont") format("svg"), url("../fonts/lato-bold-webfont.ttf") format("truetype"), url("../fonts/lato-bold-webfont.woff") format("woff");
  /* Pretty Modern Browsers */
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-bolditalic-webfont.eot.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bolditalic-webfont.svg#lato-bolditalic-webfont") format("svg"), url("../fonts/lato-bolditalic-webfont.ttf") format("truetype"), url("../fonts/lato-bolditalic-webfont.woff") format("woff");
  /* Pretty Modern Browsers */
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-italic-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-italic-webfont.svg#lato-italic-webfont") format("svg"), url("../fonts/lato-italic-webfont.ttf") format("truetype"), url("../fonts/lato-italic-webfont.woff") format("woff");
  /* Pretty Modern Browsers */
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.svg#lato-regular-webfont") format("svg"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.woff") format("woff");
  /* Pretty Modern Browsers */
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-light-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-light-webfont.svg#lato-light-webfont") format("svg"), url("../fonts/lato-light-webfont.ttf") format("truetype"), url("../fonts/lato-light-webfont.woff") format("woff");
  /* Pretty Modern Browsers */
  font-weight: 300;
  font-style: normal; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

h1 {
  font-family: 'Qanelas-Extra-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 3.75rem;
  line-height: 1.2;
  text-transform: uppercase; }

h2 {
  font-family: 'Qanelas-Extra-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 2.5rem;
  line-height: 1.1;
  text-transform: uppercase; }

.caption {
  font-family: 'Qanelas-Light', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 13px;
  line-height: 1;
  font-weight: light; }

.caption-strong {
  font-family: 'Qanelas-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 13px;
  line-height: 1;
  font-weight: bold; }

p {
  font-family: 'Helvetica-Light', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  line-height: 1;
  margin: 0; }

strong {
  font-family: 'Helvetica-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 800; }

.section-title {
  display: inline-block;
  position: relative; }
  .section-title__text {
    font-family: 'Qanelas-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: .5em; }
  .section-title__line {
    width: 1440px;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-top: 1px solid #000000;
    margin: 0; }
    .section-title__line--shorter {
      width: 640px; }
  .section-title__description {
    font-family: 'Helvetica-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
    width: 100%;
    max-width: 775px; }

.section-title-cover {
  display: inline-block;
  padding: 2em 5em 2.5em 0;
  background-image: url(../images/dakota-text.png);
  background-size: 96%;
  background-position: 10px -15px;
  background-repeat: no-repeat; }

.btn {
  font-family: 'Helvetica-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
  line-height: 1;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12); }
  .btn--yellow {
    background-color: #e9ae0b; }
    .btn--yellow:hover {
      background-color: #ffdc11; }
  .btn--circle {
    border-radius: 100%;
    padding: 16px; }

@media only screen and (max-width: 1199.98px) {
  h1 {
    font-size: 3.5rem; } }

@media only screen and (max-width: 991.98px) {
  h1 {
    font-size: 3.25rem; }
  h2 {
    font-size: 2.25rem; }
  .caption {
    font-size: 13px; }
  p {
    font-size: 1.2rem; } }

.header {
  margin: 50px 0 30px 0; }
  .header__call-us {
    margin: auto 0 auto auto; }
    .header__call-us--text {
      display: flex;
      flex-direction: row;
      font-size: 13px; }
    .header__call-us--text:before {
      content: "";
      flex: 1 1;
      border-bottom: 1px solid #000;
      margin: auto;
      margin-right: 20px;
      width: 260px; }
  .header__email-container {
    position: relative;
    min-height: 1px; }
  .header__email-us {
    display: inline-block;
    transform: rotate(-90deg);
    position: absolute;
    right: -206px;
    top: 220px; }
  .header__dropdown {
    margin-left: 30px; }
    .header__dropdown .dropdown-toggle {
      background: #f6f6f6;
      border: 0;
      border-radius: 8px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 6px 6px 4px rgba(0, 0, 0, 0.12);
      padding: 12px; }
      .header__dropdown .dropdown-toggle::after {
        display: none; }
  .header .dropdown-menu.show {
    top: 100% !important;
    left: 0px !important;
    transform: translate3d(-137px, 0px, 0px) !important; }

.slider {
  outline: none; }
  .slider__hero {
    display: flex;
    flex-direction: row;
    z-index: 5;
    position: relative; }
  .slider__image {
    width: 50%;
    position: relative;
    top: 45px; }
    .slider__image--img {
      max-width: 100%;
      height: auto; }
  .slider__sliders {
    width: 50%; }
  .slider__row {
    width: 100%;
    margin: 0;
    padding-left: 15px; }
    @media only screen and (max-width: 1199.98px) {
      .slider__row {
        max-width: 465px; } }
  .slider__content .content {
    font-family: 'Lato', sans-serif !important;
    font-style: italic;
    line-height: 30px; }
  .slider__content .caption {
    margin-top: 28px;
    font-size: 24px;
    line-height: 1.2; }
  .slider__content .hero__button {
    margin: 20px 0 0 10px;
    padding-bottom: 18px; }
    .slider__content .hero__button .btn--yellow {
      height: fit-content;
      padding: 24px 60px;
      margin: auto 10px auto 0;
      font-size: 20px; }
    .slider__content .hero__button .btn--circle {
      padding: 0;
      box-shadow: none;
      width: 75px;
      height: auto; }
      .slider__content .hero__button .btn--circle img {
        width: 100%;
        height: auto; }

.js-hero-slider {
  padding: 30px 0; }
  .js-hero-slider .slick-prev,
  .js-hero-slider .slick-next {
    display: none !important; }
  .js-hero-slider .slick-dots {
    bottom: 0;
    text-align: left;
    padding-left: 15px; }
    .js-hero-slider .slick-dots .slick-active button:before {
      background: #e9ae0b; }
    .js-hero-slider .slick-dots li button:before {
      opacity: 1;
      color: transparent;
      border-radius: 100%;
      background: #ffdc11;
      width: 16px;
      height: 16px; }

.who-used {
  background: #57c479;
  position: relative;
  padding: 95px 0 70px 0;
  z-index: 3; }
  .who-used__title {
    z-index: 10;
    position: relative; }
    .who-used__title h2 {
      display: flex;
      flex-direction: row;
      max-width: 1140px;
      margin: 0 auto; }
      .who-used__title h2::before {
        content: "";
        flex: 1 1;
        border-bottom: 1px solid #000;
        margin: auto;
        position: absolute;
        bottom: -18px;
        left: 0;
        margin-right: 20px;
        width: 450px; }
  .who-used__img img {
    margin: -80px auto 30px auto;
    z-index: 8;
    position: relative;
    width: 750px;
    height: auto; }
  .who-used__content .row {
    margin: 0; }
  .who-used__content--body {
    background: #f6f6f6;
    padding: 16px;
    margin: 0 6px;
    border: none;
    border-radius: 100px; }

.bg-wave {
  margin-top: -3px; }

.statistict {
  position: relative;
  top: -60px; }
  .statistict__img-person {
    width: auto;
    max-width: 380px;
    height: auto; }
  .statistict__content {
    padding: 0 0 10px 0; }
    .statistict__content--garden {
      padding: 0;
      width: 100%; }
      .statistict__content--garden-img-box {
        width: 60%;
        align-items: center;
        justify-content: flex-end; }
        @media only screen and (max-width: 479.98px) {
          .statistict__content--garden-img-box {
            justify-content: center; } }
      .statistict__content--garden-body-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
    .statistict__content--farm-pie {
      padding: 0;
      width: 100%; }
    .statistict__content--farm-img-box {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 479.98px) {
        .statistict__content--farm-img-box {
          justify-content: center !important; } }
    .statistict__content--farm-body-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .statistict__content--pie-img-box {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 479.98px) {
        .statistict__content--pie-img-box {
          justify-content: center !important; } }
    .statistict__content--pie-body-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .statistict__content--text {
      text-align: right;
      margin-bottom: 30px;
      line-height: 26px; }
    .statistict__content--img, .statistict__content--body {
      padding: 0; }
    .statistict__content--body-text {
      align-items: center;
      margin-left: 6px; }
    .statistict__content--img-display {
      width: 300px; }
    .statistict__content--img-display-2 {
      width: 150px; }
    .statistict__content--img-display-3 {
      height: 100px;
      width: auto;
      margin-right: 6px; }

.learn {
  padding: 70px 0;
  background: #f6f6f6;
  color: #1a8466;
  position: relative;
  margin-top: -60px; }
  .learn-1, .learn-2, .learn-3 {
    padding-bottom: 70px; }
  .learn-btn {
    padding: 16px 24px; }
  .learn__bg {
    position: absolute;
    z-index: 10;
    right: 0;
    width: 300px;
    bottom: -150px; }

.they-used {
  background: #57c479;
  padding: 60px 0 70px 0;
  position: relative; }
  .they-used__slider-container {
    max-width: 960px; }
  .they-used__title {
    z-index: 10;
    position: relative; }
    .they-used__title h2 {
      display: inline-block;
      position: relative;
      padding: 1em 4em 1em 0; }
      .they-used__title h2:before {
        content: "dakota";
        text-transform: uppercase;
        font-size: 8rem;
        color: #fff;
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 364px; }
        @media only screen and (max-width: 991.98px) {
          .they-used__title h2:before {
            left: 300px; } }
        @media only screen and (max-width: 767.98px) {
          .they-used__title h2:before {
            left: 144px; } }
        @media only screen and (max-width: 639.98px) {
          .they-used__title h2:before {
            left: 74px; } }
        @media only screen and (max-width: 479.98px) {
          .they-used__title h2:before {
            font-size: 6rem;
            top: 54px; } }
      .they-used__title h2:after {
        content: "";
        width: 1140px;
        height: 1px;
        border-bottom: 1px solid #ffffff;
        position: absolute;
        bottom: 30px;
        right: 375px; }
  .they-used .slider {
    padding: 50px 0; }
    .they-used .slider__image {
      display: flex;
      justify-content: center;
      align-content: center;
      top: 0; }
      .they-used .slider__image img {
        width: 250px;
        margin: auto;
        box-shadow: 0px 20px 8px -16px rgba(24, 27, 23, 0.5);
        border-radius: 100%; }
    .they-used .slider__content--text {
      margin-top: 70px;
      margin-left: 12px; }
    .they-used .slider__quote {
      height: 50px;
      position: absolute; }
    .they-used .slider__row {
      max-width: unset !important; }
  .they-used .slick-next, .they-used .slick-prev {
    top: 50%;
    width: 40px;
    height: 40px;
    background-size: contain !important;
    transition: all ease .2s; }
  .they-used .slick-prev:before,
  .they-used .slick-next:before {
    opacity: 0; }
  .they-used .slick-prev {
    left: -50px;
    background: url(../images/arrow.svg); }
    .they-used .slick-prev:hover {
      transform: scale(1.5) translate(-7px, -7px); }
  .they-used .slick-next {
    background: url(../images/arrow.svg);
    right: -50px;
    transform: rotate(180deg) translateY(20px); }
    .they-used .slick-next:hover {
      transform: rotate(180deg) scale(1.5) translate(-7px, 7px); }

.partner {
  background: #f6f6f6;
  padding: 0 0 70px 0;
  position: relative; }
  .partner__slider-container {
    max-width: 960px; }
    .partner__slider-container .js-partner-slider {
      margin: auto; }
      @media only screen and (max-width: 575.98px) {
        .partner__slider-container .js-partner-slider {
          max-width: 400px; } }
      @media only screen and (max-width: 479.98px) {
        .partner__slider-container .js-partner-slider {
          max-width: 350px; } }
  .partner__title {
    z-index: 10;
    position: relative;
    margin-top: -40px; }
    .partner__title h2 {
      display: inline-block;
      position: relative;
      padding: 1em 6em 1em 0; }
      .partner__title h2:before {
        content: "dakota";
        text-transform: uppercase;
        font-size: 8rem;
        color: #000;
        opacity: 0.1;
        position: absolute;
        top: -13px;
        left: 0; }
        @media only screen and (max-width: 479.98px) {
          .partner__title h2:before {
            font-size: 6rem;
            top: 0; } }
      .partner__title h2::after {
        content: "";
        width: 120%;
        height: 1px;
        border-bottom: 1px solid #181b17;
        position: absolute;
        bottom: 30px;
        right: 322px; }
        @media only screen and (max-width: 479.98px) {
          .partner__title h2::after {
            right: 215px; } }
  .partner__bg {
    position: absolute;
    right: 0;
    bottom: -90px;
    width: 350px; }
  .partner__slider {
    background: #f6f6f6; }
    .partner__slider--box {
      padding: 50px 0; }
  .partner .slick-slide {
    outline: none; }
    .partner .slick-slide img {
      display: block;
      width: auto;
      height: 100px;
      margin: 0 auto; }
  .partner .slick-next, .partner .slick-prev {
    top: 50%;
    width: 40px;
    height: 40px;
    background-size: contain !important;
    transition: all ease .2s; }
  .partner .slick-prev:before,
  .partner .slick-next:before {
    opacity: 0; }
  .partner .slick-prev {
    left: -50px;
    background: url(../images/arrow.svg); }
    .partner .slick-prev:hover {
      transform: scale(1.5) translate(-7px, -7px); }
  .partner .slick-next {
    background: url(../images/arrow.svg);
    right: -50px;
    transform: rotate(180deg) translateY(20px); }
    .partner .slick-next:hover {
      transform: rotate(180deg) scale(1.5) translate(-7px, 7px); }

.contact {
  padding: 70px 0 70px 0;
  position: relative; }
  .contact__title {
    z-index: 10;
    position: relative;
    padding: 2em 1em 2em 0; }
    .contact__title h2 {
      display: inline-block;
      position: relative; }
      .contact__title h2:before {
        content: "dakota";
        text-transform: uppercase;
        font-size: 8rem;
        color: #000;
        opacity: .1;
        position: absolute;
        top: -44px;
        left: 74px; }
        @media only screen and (max-width: 479.98px) {
          .contact__title h2:before {
            top: -29px;
            font-size: 6rem; } }
      .contact__title h2::after {
        content: "";
        width: 134%;
        height: 1px;
        border-bottom: 1px solid #181b17;
        position: absolute;
        bottom: -12px;
        right: 80px; }
    .contact__title--single {
      background-image: none;
      padding: 1em 0; }
  .contact__box {
    margin: 100px; }
  .contact__content {
    position: relative;
    z-index: 10; }
  .contact__bg {
    position: absolute;
    left: -35%;
    top: 0;
    height: 500px; }
  .contact .form-control {
    border-color: #1a8466;
    border-radius: 12px; }
    .contact .form-control::placeholder {
      color: #1a8466; }
  .contact .form-btn {
    padding: 24px 64px; }

.footer__upper {
  background: #181b17;
  padding: 16px 0;
  color: white; }
  .footer__upper .language {
    margin: auto 0; }
    .footer__upper .language__text {
      text-transform: capitalize;
      display: inline;
      margin: auto 15px auto 0; }
    .footer__upper .language__flag {
      display: inline;
      margin: auto 0;
      border-radius: 100%;
      border: 1px solid #ffdc11; }
    .footer__upper .language__btn {
      color: #ffffff;
      box-shadow: none;
      padding: 8px 16px; }
      .footer__upper .language__btn:hover, .footer__upper .language__btn:focus {
        color: #000000;
        background: #95a5a6; }
    .footer__upper .language .dropup {
      display: inline-block;
      vertical-align: middle; }
      .footer__upper .language .dropup .dropdown-toggle::after {
        display: none; }
  .footer__upper .upper-link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    left: 5px; }
    .footer__upper .upper-link img {
      width: 18px;
      height: 18px; }

.footer__inner-container {
  background: url(../images/footer-other-bg.png) center no-repeat;
  background-size: cover; }

.footer__inner {
  padding: 120px 0 100px 0;
  background: url(../images/bg-footer.png) center no-repeat;
  filter: grayscale(100%);
  color: white;
  background-size: cover; }
  .footer__inner--custom-bg {
    background-image: none;
    filter: none; }
  .footer__inner .container .row {
    justify-content: flex-end; }
  .footer__inner--email {
    margin-top: 6px;
    overflow-wrap: break-word; }
  .footer__inner--address {
    overflow-wrap: break-word;
    margin-top: 24px; }

.footer__foot {
  background: #181b17;
  padding: 16px 0;
  color: white;
  text-align: center; }
  .footer__foot--custom-bg {
    background-color: transparent; }
  .footer__foot--img {
    max-width: 200px; }
  .footer__foot .caption {
    margin-top: 6px; }

@media only screen and (max-width: 1199.98px) {
  .slider__content h1 {
    padding-right: 2em; }
  .slider__content .hero__button {
    padding-bottom: 1em; }
  .who-used__title h2 {
    margin-left: 16px; }
  .statistict .container {
    max-width: 100%; }
  .statistict__content {
    padding: 30px 0 10px 0; }
    .statistict__content--text {
      margin-right: 16px; }
  .statistict__img-person {
    max-width: 330px; }
  .partner__slider-container {
    max-width: 768px; }
  .partner__bg {
    position: absolute;
    right: 0;
    bottom: -120px;
    width: 350px; }
  .partner__slider--box {
    padding: 50px 0; }
  .partner .slick-slide img {
    height: 65px; }
  .learn__bg {
    width: 200px;
    bottom: -120px; }
  .they-used__title h2 {
    position: relative; }
  .they-used__slider-container {
    max-width: 768px; }
  .contact {
    padding: 50px 0 50px 0; }
    .contact .container {
      max-width: 100%; }
    .contact__box {
      margin: 100px; }
    .contact__content {
      position: relative;
      z-index: 10; }
    .contact__bg {
      position: absolute;
      left: -35%;
      top: 30px;
      height: 400px; }
    .contact .form-control {
      border-color: #1a8466;
      border-radius: 12px; }
      .contact .form-control::placeholder {
        color: #1a8466; }
    .contact .form-btn {
      padding: 24px 64px; } }

@media only screen and (max-width: 1023.98px) {
  .statistict {
    top: 0; }
    .statistict .container {
      max-width: 100%; }
    .statistict__img-person {
      position: absolute;
      top: auto;
      bottom: 0; }
    .statistict__content {
      padding: 30px 0 10px 0; }
      .statistict__content--farm-pie {
        margin: 24px 0 0 0; }
      .statistict__content--farm {
        width: 100%; }
        .statistict__content--farm-img-box {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 60%; }
          .statistict__content--farm-img-box img {
            margin-right: 5rem; }
      .statistict__content--pie {
        width: 100%;
        margin-top: 24px; }
        .statistict__content--pie-img-box {
          display: flex;
          justify-content: flex-end;
          width: 60%;
          align-items: center; }
          .statistict__content--pie-img-box img {
            margin-right: 6rem; }
  .learn {
    margin-top: auto; } }

@media only screen and (max-width: 991.98px) {
  .header {
    margin: 30px 0 30px 0; }
    .header__call-us--text:before {
      margin-right: 10px;
      width: 150px; }
    .header__email-us {
      right: -150px;
      top: 160px; }
    .header__dropdown {
      margin-left: 30px; }
      .header__dropdown .dropdown-toggle {
        background: #f6f6f6;
        border: 0;
        border-radius: 8px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 6px 6px 4px rgba(0, 0, 0, 0.12);
        padding: 10px; }
        .header__dropdown .dropdown-toggle::after {
          display: none; }
  .slider__image {
    width: 45%; }
  .slider__sliders {
    width: 55%; }
  .slider__row {
    max-width: 390px; }
  .slider__content .caption {
    margin: 0 0 0 10px; }
  .slider__content .hero__button {
    margin: 12px 0 24px 10px; }
    .slider__content .hero__button .btn--yellow {
      height: fit-content;
      padding: 16px 24px;
      margin: auto 10px auto 0;
      font-size: 14px; }
    .slider__content .hero__button .btn--circle {
      width: 50px; }
  .who-used {
    padding: 50px 0 50px 0; }
    .who-used__title h2:before {
      width: 350px; }
    .who-used__content {
      padding: 0 5px;
      margin: 0 auto;
      width: 100%; }
      .who-used__content--body {
        background: #f6f6f6;
        padding: 16px;
        margin: 0 3px;
        border: none;
        border-radius: 100px; }
  .statistict__img-person {
    max-width: 300px; }
  .statistict__content {
    padding: 30px 0 24px 0; }
  .they-used__slider-container {
    max-width: 640px; }
  .they-used .slider__content .caption {
    margin: 6px 0 0 10px; }
  .partner__slider-container {
    max-width: 640px; }
  .partner__title h2::before {
    bottom: 35px;
    right: 216px; }
  .contact {
    padding: 50px 0 50px 0; }
    .contact .container {
      max-width: 100%; }
    .contact__title {
      padding: 1em 1em 1em 0; }
    .contact__box {
      margin: 100px auto; }
    .contact__content {
      position: relative;
      margin-left: 30px;
      z-index: 10; }
    .contact__bg {
      left: -220px;
      top: 60px;
      height: 400px; }
    .contact .form-control {
      border-color: #1a8466;
      border-radius: 12px; }
      .contact .form-control::placeholder {
        color: #1a8466; }
    .contact .form-btn {
      padding: 24px 64px; }
  .footer__inner--1 {
    margin-left: auto; }
  .footer__inner--2 {
    margin-right: auto; } }

@media only screen and (max-width: 767.98px) {
  .header {
    margin: 30px 0 30px 0; }
    .header__call-us--text:before {
      margin-right: 10px;
      width: 150px;
      display: none; }
    .header__email-us {
      transform: none;
      right: 15px;
      top: 0; }
    .header__dropdown {
      margin-left: 30px; }
      .header__dropdown .dropdown-toggle {
        background: #f6f6f6;
        border: 0;
        border-radius: 8px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 6px 6px 4px rgba(0, 0, 0, 0.12);
        padding: 10px;
        padding: 8px;
        position: relative;
        top: 5px; }
        .header__dropdown .dropdown-toggle::after {
          display: none; }
        .header__dropdown .dropdown-toggle img {
          width: 20px;
          height: auto; }
    .header .dropdown-menu.show {
      top: calc(100% - 8px) !important;
      transform: translate3d(-157px, 0, 0) !important; }
  .slider__hero {
    display: block; }
  .slider__image {
    width: 100%; }
    .slider__image img {
      display: block; }
  .slider__sliders {
    width: 100%; }
  .slider__row {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%; }
  .js-hero-slider {
    padding: 0; }
    .js-hero-slider .slider__content {
      max-width: 100%;
      flex: 100%; }
      .js-hero-slider .slider__content h1 {
        margin: 0 0 0 10px;
        white-space: normal;
        padding-right: 0; }
      .js-hero-slider .slider__content .caption {
        margin: 0 0 0 10px; }
      .js-hero-slider .slider__content .hero__button {
        margin: 10px 0;
        padding-bottom: 1em; }
        .js-hero-slider .slider__content .hero__button .btn--yellow {
          height: fit-content;
          padding: 16px 24px;
          margin: auto 10px auto 0; }
        .js-hero-slider .slider__content .hero__button .btn--circle {
          margin-right: auto; }
    .js-hero-slider .slick-dots {
      bottom: -30px;
      padding-left: 25px;
      padding-right: 25px; }
  .slick-dotted.slick-slider {
    margin: 50px 0; }
  .who-used__title h2:before {
    width: 150px; }
  .who-used .container {
    max-width: 100%; }
  .who-used__img img {
    margin: -70px auto 0px auto;
    width: 300px; }
  .who-used__content--body {
    flex: 100%;
    margin: 8px auto; }
  .statistict__img-person {
    position: relative;
    margin: auto;
    display: block;
    width: 100%; }
  .statistict__content {
    padding: 30px 0 24px 0; }
    .statistict__content--img-display {
      width: 150px;
      margin-right: 4rem; }
    .statistict__content--text {
      margin-right: auto;
      text-align: center; }
  .learn__bg {
    width: 120px;
    bottom: -60px; }
  .they-used__slider-container {
    max-width: 100%; }
  .they-used .slider__image img {
    width: 150px; }
  .they-used .slick-prev,
  .they-used .slick-next {
    display: none !important; }
  .partner__slider-container {
    max-width: 640px; }
  .partner__bg {
    bottom: -90px;
    width: 250px;
    z-index: 15; }
  .partner__slider--img {
    max-width: 100%; }
  .contact {
    padding: 50px 0 50px 0; }
    .contact .container {
      max-width: 100%; }
    .contact__box {
      margin: 50px auto; }
      .contact__box .row {
        flex-direction: column-reverse;
        margin: 0; }
    .contact__content {
      flex: 100%;
      max-width: 100%;
      margin-left: 8px; }
    .contact__images {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px; }
    .contact__bg {
      position: relative;
      height: 300px;
      top: 0;
      left: 0;
      max-width: 90%;
      height: auto; }
    .contact .form-control {
      border-color: #1a8466;
      border-radius: 12px; }
      .contact .form-control::placeholder {
        color: #1a8466; }
    .contact .form-btn {
      padding: 24px 64px; }
  .footer__upper .sign-in__btn {
    padding: 8px 16px;
    margin: auto 0 auto 8px; }
  .footer__upper .language {
    margin: auto 16px auto auto; }
    .footer__upper .language__text {
      margin: auto 6px auto 0; }
    .footer__upper .language__btn {
      padding: 0; }
    .footer__upper .language .dropup .dropdown-toggle::after {
      margin-left: 6px; }
  .footer__inner {
    padding: 70px 0 70px 0; }
    .footer__inner .container {
      padding: 0; }
      .footer__inner .container .row {
        margin: 0; }
    .footer__inner--1 {
      margin-left: auto; }
    .footer__inner--2 {
      margin-right: auto; }
    .footer__inner--email {
      overflow-wrap: break-word; }
    .footer__inner--address {
      overflow-wrap: break-word; } }

@media only screen and (max-width: 575.98px) {
  .they-used__title h2 {
    padding-right: 0; }
    .they-used__title h2::before {
      right: 200px; }
  .footer__inner {
    background-position: bottom center;
    background-size: auto; }
    .footer__inner--1 {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 40px; }
    .footer__inner--2 {
      padding-left: 30px;
      padding-right: 30px; } }

@media only screen and (max-width: 479.98px) {
  .header__call-us {
    margin: 20px 0 auto auto;
    flex: 60%; }
  .header__email-us {
    left: 15px;
    right: auto;
    margin-top: 0; }
  .js-hero-slider .slider__content h1 {
    word-break: break-word; }
  .js-hero-slider .slider__content .hero__button {
    display: block; }
  .who-used__img img {
    margin: -10px auto 0 auto;
    width: 300px; }
  .statistict__content {
    padding: 30px 9px 24px 8px; }
    .statistict__content--img-display {
      width: 120px;
      margin-right: 0; }
    .statistict__content--body-one, .statistict__content--body-two {
      display: block !important; }
    .statistict__content--farm-img-box img {
      margin-right: 0; }
    .statistict__content--pie-img-box img {
      margin-right: 10px;
      height: 70px; }
  .learn__bg {
    width: 100px;
    bottom: -70px; }
  .they-used .slider__row {
    flex-direction: column; }
  .they-used .slider__content--text {
    margin-top: 40px; }
  .they-used .slider__quote {
    height: 30px; }
  .partner__title h2 {
    padding-right: 4.5em; }
    .partner__title h2::before {
      right: 160px; }
  .partner__bg {
    bottom: -30px;
    width: 150px; }
  .footer__upper .sign-in {
    flex-basis: 100%;
    margin-bottom: 1em; }
    .footer__upper .sign-in__btn {
      margin-left: 0; }
  .footer__upper .language {
    text-align: left !important; } }

.header-general--green-gradient {
  background-image: url(../images/home-hero-bg.png);
  background-size: cover;
  background-position: top center; }

.header-general__top-content {
  padding-top: 2em;
  padding-bottom: 1em; }

.header-general__logo img {
  max-width: 180px;
  width: 100%;
  height: auto;
  display: inline-block; }

.header-general__list-menu .list-inline {
  text-align: right; }
  .header-general__list-menu .list-inline a {
    color: #181b17;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    display: block; }

.header-general__user-menu .dropdown-toggle {
  padding: 0;
  box-shadow: none; }
  .header-general__user-menu .dropdown-toggle img {
    width: 48px;
    height: auto; }
  .header-general__user-menu .dropdown-toggle::after {
    display: none; }

.header-general__user-menu .dropdown-menu.show {
  right: 0 !important;
  left: auto !important; }

.header-general__search-form {
  max-width: 640px;
  margin-left: auto;
  margin-right: 0; }

.header-general .input-group {
  border-radius: 12px;
  border: 1px solid #95a5a6;
  padding: 6px 12px; }

.header-general__search-btn input[type=submit] {
  width: 32px;
  height: 38px;
  text-indent: -99999px;
  cursor: pointer;
  border: none;
  background-image: url(../images/icon-search.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
  background-color: transparent; }

.header-general__search-input.form-control {
  border-radius: 0;
  border: none;
  background-color: transparent; }

.header-general__tab-container {
  max-width: 960px;
  width: 100%;
  margin: 3.5em auto; }

.header-general__tab-content {
  width: 100%;
  margin-bottom: 1.5em; }
  .header-general__tab-content .nav-tabs {
    justify-content: space-between;
    border-bottom: none; }
    .header-general__tab-content .nav-tabs .nav-link {
      text-align: center;
      border: none; }
      .header-general__tab-content .nav-tabs .nav-link:hover, .header-general__tab-content .nav-tabs .nav-link:focus {
        border: none; }
      .header-general__tab-content .nav-tabs .nav-link .nav-image {
        width: 180px;
        height: 180px;
        border-radius: 100%;
        border: 1px solid #000000;
        display: flex;
        overflow: hidden;
        align-items: center;
        opacity: .25;
        margin-bottom: 1em; }
        .header-general__tab-content .nav-tabs .nav-link .nav-image img {
          width: 100%;
          height: auto;
          display: block; }
      .header-general__tab-content .nav-tabs .nav-link .nav-text {
        font-size: 1.4rem;
        line-height: 1.1;
        font-weight: 600;
        color: #000000;
        opacity: .25; }
      .header-general__tab-content .nav-tabs .nav-link.active {
        border: none;
        background-color: transparent; }
        .header-general__tab-content .nav-tabs .nav-link.active .nav-image,
        .header-general__tab-content .nav-tabs .nav-link.active .nav-text {
          opacity: 1; }

.home-map {
  padding-top: 2.5em;
  padding-bottom: 4em;
  background-color: rgba(149, 165, 166, 0.125); }
  .home-map__filter-title {
    text-transform: capitalize;
    margin-bottom: 1em;
    box-shadow: none; }
  .home-map__filter-item {
    padding-left: 6px;
    padding-right: 6px; }
  .home-map__filter-selector {
    font-family: 'Qanelas-Light', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
    padding: 4px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 3px 3px 3px rgba(0, 0, 0, 0.12); }

.home-graph {
  padding-top: 3.5em;
  padding-bottom: 3.5em; }
  .home-graph__content {
    padding-top: 2em;
    padding-bottom: 1em; }
    .home-graph__content--doughnut {
      padding-bottom: 2em; }
  .home-graph__heading {
    font-family: 'Qanelas-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: .25em; }
  .home-graph__description {
    font-family: 'Helvetica-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: .85rem;
    line-height: 1.3;
    margin-bottom: .75em; }
    .home-graph__description--proyeksi {
      padding-right: 2em; }
  .home-graph__line {
    border-top: 1px solid rgba(0, 0, 0, 0.25); }
  .home-graph__proyeksi {
    background-image: url(../images/proyeksi-bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 14em; }

.home-image-box {
  margin-bottom: 3em; }
  .home-image-box__photo {
    border: 1px solid #707070;
    overflow: hidden; }
    .home-image-box__photo img {
      width: 100%;
      height: auto; }
  .home-image-box__data {
    padding-left: 2em;
    padding-right: 2em; }
  .home-image-box__data-inner {
    padding: 20px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    position: relative;
    top: -55px; }
    .home-image-box__data-inner h4 {
      color: #181b17;
      margin-bottom: .25em; }
    .home-image-box__data-inner p {
      font-family: 'Helvetica-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
      font-size: 1rem;
      line-height: 1.2;
      color: #181b17;
      margin-bottom: .25em; }
    .home-image-box__data-inner .btn {
      font-size: .65rem;
      line-height: 1.1;
      color: #181b17;
      background-color: #e9ae0b;
      border-radius: 10px;
      padding: 4px 16px;
      box-shadow: none;
      display: block;
      margin: 1.2em 0 0 auto;
      max-width: 150px;
      width: 100%; }
      .home-image-box__data-inner .btn img {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 2px;
        left: 5px; }

@media only screen and (max-width: 1199.98px) {
  .home-map__filter-title {
    margin-top: 1em; }
  .home-map__filter-selector {
    margin-bottom: 1em; } }

@media only screen and (max-width: 991.98px) {
  .header-general__search-form {
    margin-right: auto; }
  .home-graph__tree {
    margin-bottom: 1em; }
  .home-graph__area {
    margin-bottom: 1em; }
  .home-graph__description {
    margin-top: 1em; } }

@media only screen and (max-width: 767.98px) {
  .header-general__logo {
    display: flex;
    align-items: center; }
  .header-general__list-menu .list-inline {
    margin-bottom: 0; }
  .header-general__user-menu .dropdown-menu.show {
    right: 0 !important;
    left: auto !important;
    transform: translate3d(0, 50px, 0px) !important; }
  .header-general__tab-content .nav-tabs .nav-link .nav-image {
    width: 90px;
    height: 90px; } }

@media only screen and (max-width: 575.98px) {
  .header-general__logo {
    margin-bottom: 1.5em; }
  .header-general__list-menu .list-inline {
    text-align: left; }
    .header-general__list-menu .list-inline .list-inline-item {
      display: block;
      margin-bottom: .5em; }
      .header-general__list-menu .list-inline .list-inline-item a {
        padding-left: 0;
        padding-right: 0; }
        .header-general__list-menu .list-inline .list-inline-item a.dropdown-item {
          padding-left: 10px;
          padding-right: 10px; }
  .header-general__user-menu .dropdown-menu.show {
    right: auto !important;
    left: 0 !important;
    transform: translate3d(0, 50px, 0px) !important; }
  .header-general__tab-content .nav-tabs {
    flex-wrap: nowrap;
    justify-content: center; }
    .header-general__tab-content .nav-tabs .nav-link .nav-image {
      width: 60px;
      height: 60px;
      margin-left: auto;
      margin-right: auto; } }

@media only screen and (max-width: 479.98px) {
  .home-map__filter-item {
    width: 48%; }
    .home-map__filter-item:not(:last-child) {
      margin-right: 0; } }

.header-general--image-bg {
  background-image: url(../images/kelompok-tani-hero.png);
  background-size: cover;
  background-position: top center; }

.header-general__page-title {
  padding-top: 4em;
  padding-bottom: 8em; }
  .header-general__page-title--yellow {
    color: #ffdc11; }

.kelompok-caption {
  margin-bottom: 5em; }
  .kelompok-caption__text {
    font-family: 'Helvetica-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    width: 100%;
    max-width: 775px; }

.petani-data {
  padding-bottom: 12em; }
  .petani-data__list {
    padding-top: 5em; }

.petani-detail__featured-image {
  width: 100%;
  height: auto; }

.petani-detail__name {
  font-family: 'Qanelas-Extra-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 2.2rem;
  line-height: 1.2;
  color: #181b17;
  margin-bottom: 1.5em; }

.petani-detail__data {
  margin-bottom: 1.5em; }
  .petani-detail__data p {
    font-size: 1rem;
    margin-bottom: .5em; }

.petani-detail__description {
  margin-bottom: 2em; }
  .petani-detail__description p {
    font-family: 'Helvetica-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: .85rem;
    line-height: 1.25;
    margin-bottom: 1em; }

.petani-kebun {
  padding-top: 4em;
  padding-bottom: 5em;
  background-image: url(../images/home-hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }
  .petani-kebun__featured-image {
    width: 100%;
    max-width: 285px;
    height: auto;
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em; }
  .petani-kebun__tab-list {
    padding-right: 0; }
  .petani-kebun__tab-menu {
    margin-top: 2em; }
    .petani-kebun__tab-menu .nav-link {
      font-family: 'Helvetica-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
      border-radius: 0;
      text-transform: uppercase;
      color: #181b17; }
      .petani-kebun__tab-menu .nav-link.active {
        color: #181b17;
        background-color: transparent;
        background-image: url(../images/tab-bg.png);
        background-size: cover;
        background-position: right center; }
  .petani-kebun__tab-content {
    padding-left: 0; }
    .petani-kebun__tab-content .tab-content {
      padding: 25px;
      border-radius: 12px;
      background-color: #ffffff; }
  .petani-kebun__accordion .card {
    border: none;
    border-radius: 0; }
    .petani-kebun__accordion .card .card-header {
      border-bottom: none;
      margin-bottom: .75em;
      padding: 0; }
      .petani-kebun__accordion .card .card-header .btn {
        font-family: 'Helvetica-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
        font-size: 1rem;
        text-transform: none;
        color: #181b17;
        border-radius: 25px;
        box-shadow: none;
        padding: 1em 1.4em;
        background-color: #F6F6F6;
        display: flex; }
        .petani-kebun__accordion .card .card-header .btn[aria-expanded="true"] {
          background-color: #ffdc11; }
          .petani-kebun__accordion .card .card-header .btn[aria-expanded="true"] .petani-kebun__arrow-nav {
            transform: rotate(180deg); }
  .petani-kebun__arrow-nav {
    margin-right: 0;
    margin-left: auto;
    transition: all .5s ease-in-out; }
  .petani-kebun__content-list li p {
    font-size: .85rem;
    white-space: normal;
    margin-bottom: .8em;
    padding-left: 0;
    padding-right: 0; }
  .petani-kebun__photo {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 0;
    margin-right: auto; }

.petani-map {
  padding-top: 6em;
  padding-bottom: 6em; }
  .petani-map__embed-map {
    z-index: 3; }
  .petani-map__call {
    margin-bottom: 3em; }
  .petani-map__call-title {
    margin-bottom: 1em; }
    .petani-map__call-title .section-title__line {
      z-index: 1; }
  .petani-map__call-item p {
    font-family: 'Helvetica-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: .45em;
    white-space: normal;
    word-break: break-all; }
  .petani-map__form .form-control {
    border-color: #181b17; }
  .petani-map__form-btn {
    border-radius: 6px;
    border: 1px solid #181b17;
    box-shadow: none;
    margin-top: 1em; }

.petani-cta {
  padding-top: 3em;
  padding-bottom: 3.5em;
  background-color: #1A8466; }
  .petani-cta__title {
    font-family: 'Qanelas-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    color: #ffffff;
    margin-bottom: 1em; }
  .petani-cta__btn {
    font-family: 'Qanelas-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    background-color: #57c479;
    padding: 16px 48px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.12), 0 2px 2px rgba(255, 255, 255, 0.12), 0 4px 4px rgba(255, 255, 255, 0.12), 0 8px 8px rgba(255, 255, 255, 0.12), 0 16px 16px rgba(255, 255, 255, 0.12); }
    .petani-cta__btn:hover {
      background-color: #44bd6a; }

@media only screen and (max-width: 1199.98px) {
  .petani-map__call {
    margin-top: 3em; } }

@media only screen and (max-width: 991.98px) {
  .petani-kebun__tab-menu .nav-link img {
    display: block; }
  .petani-kebun__content-list {
    padding-left: 10px; }
    .petani-kebun__content-list li p {
      padding-left: 5px;
      padding-right: 5px; } }

@media only screen and (max-width: 575.98px) {
  .petani-kebun__tabs {
    margin-bottom: 2em; }
  .petani-map__form .form-group {
    margin-bottom: 0; }
    .petani-map__form .form-group .form-control {
      margin-bottom: 1em; } }

.header-hero {
  padding-top: 12em;
  padding-bottom: 21em; }
  .header-hero--tentang {
    background-color: #57c479;
    background-image: url(../images/tentang-hero-bg.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; }
  .header-hero__page-title {
    color: #ffffff;
    white-space: normal;
    word-break: break-all; }
  .header-hero__page-caption {
    font-family: 'Helvetica-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    color: #ffffff;
    line-height: 1.2; }

.tentang-story {
  background-color: #57c479; }
  .tentang-story__description {
    padding-right: 2em; }
    .tentang-story__description p {
      font-family: 'Helvetica-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
      font-size: 1rem;
      line-height: 1.3;
      margin-bottom: 1em;
      color: #ffffff; }
  .tentang-story__image-list {
    position: relative;
    top: -100px; }
    .tentang-story__image-list img {
      width: auto;
      max-width: 100%;
      height: auto;
      display: block; }

.tentang-bekerja {
  background: linear-gradient(180deg, #57c479 60%, #f6f6f6 60%); }
  .tentang-bekerja__curved-bg {
    padding-top: 12.5em;
    padding-bottom: 18.5em;
    background-color: transparent;
    background-image: url(../images/tentang-bekerja-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .tentang-bekerja__section-title {
    margin-top: 2em;
    margin-bottom: 3em; }
  .tentang-bekerja__image-box {
    text-align: center;
    margin-bottom: 1.5em;
    position: relative;
    padding-left: 2em;
    padding-right: 2em; }
  .tentang-bekerja__image-box-source {
    margin-bottom: 1em; }
  .tentang-bekerja__image-box-title {
    font-family: 'Qanelas-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
    color: #181b17;
    margin-bottom: .25em; }
  .tentang-bekerja__image-box-description {
    font-family: 'Helvetica-Light', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 1.125rem;
    line-height: 1.1;
    color: #181b17; }
  .tentang-bekerja__image-box-nav {
    position: absolute;
    top: 40px;
    right: -70px;
    width: 50%;
    height: auto; }

.tentang-explain {
  padding-top: 2em;
  padding-bottom: 4em;
  text-align: center;
  background-color: #f6f6f6; }
  .tentang-explain p {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 3em;
    color: #1A8466; }
  .tentang-explain__button {
    padding: 1.5em 1.8em; }

.tentang-berita__image-box-data h4 {
  font-size: 1.2rem; }

.tentang-berita__image-box-data p {
  font-size: .95rem;
  margin-bottom: 1em; }

.tentang-berita__image-box-data .btn {
  margin-right: auto;
  margin-left: 0;
  background-color: #ffdc11; }
  .tentang-berita__image-box-data .btn:hover {
    background-color: #ddbd00; }

.tentang-berita__image-box-data-inner {
  top: -40px; }

@media only screen and (max-width: 767.98px) {
  .tentang-bekerja__image-box-nav {
    right: -56px; }
  .tentang-berita__image-box-data {
    padding-left: 1em;
    padding-right: 1em; } }

@media only screen and (max-width: 991.98px) {
  .tentang-bekerja__image {
    flex-wrap: wrap; }
  .tentang-bekerja__image-box {
    flex-basis: 50%; }
  .tentang-bekerja__image-box-nav {
    display: none; } }

@media only screen and (max-width: 767.98px) {
  .tentang-story__image-list {
    top: auto; } }

@media only screen and (max-width: 575.98px) {
  .tentang-bekerja__image-box {
    flex-basis: 100%; } }

.header-hero--news {
  background-image: url(../images/dakota-hero.png);
  background-size: cover;
  background-position: top center;
  padding-top: 21em;
  padding-bottom: 12em; }

.news-description__content-shadow {
  padding-right: 0;
  -webkit-box-shadow: 7px 0px 16px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 0px 16px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 0px 16px -10px rgba(0, 0, 0, 0.75);
  background-color: #ffffff; }

.news-description__content-left {
  position: relative;
  top: -100px;
  background-color: #ffffff;
  padding: 3em; }

.news-description__video {
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 16px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 16px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 16px -3px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  margin-bottom: 3em; }

.news-description__text {
  margin-bottom: 6em; }
  .news-description__text p {
    font-family: 'Helvetica-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    color: #181b17;
    margin-bottom: 1em; }

.news-description__like {
  margin-bottom: 2em; }

.news-description__content-title {
  font-family: 'Helvetica-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  line-height: 1.2;
  margin-bottom: .25em; }

.news-description__share {
  margin-bottom: 3em; }

.news-description__share-item {
  display: flex;
  display: -webkit-flex;
  align-items: center; }
  .news-description__share-item:hover {
    text-decoration: none; }
  .news-description__share-item--facebook {
    background-color: #3b5998; }
  .news-description__share-item--twitter {
    background-color: #1da1f2; }
  .news-description__share-item--whatsapp {
    background-color: #25d366; }

.news-description__share-item-icon {
  padding: 8px 14px;
  -webkit-box-shadow: 2px 2px 16px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 16px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 16px -7px rgba(0, 0, 0, 0.75); }
  .news-description__share-item-icon img {
    width: 16px;
    height: auto; }

.news-description__share-item-text {
  padding: .75em 3em .75em 1em;
  color: #ffffff;
  font-family: 'Qanelas-Extra-Bold', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.1;
  text-align: left; }
  .news-description__share-item-text--facebook {
    background-color: #344e86; }
  .news-description__share-item-text--twitter {
    background-color: #0d95e8; }
  .news-description__share-item-text--whatsapp {
    background-color: #21bd5c; }

.news-description__form-comment .form-control {
  font-family: 'Helvetica-Light', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-size: 1.2rem;
  border-color: #1a8466;
  border-radius: 6px; }
  .news-description__form-comment .form-control::placeholder {
    color: #1a8466; }

.news-description__form-comment .btn {
  padding: 1.5em 2.5em;
  -webkit-box-shadow: 2px 2px 16px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 16px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 16px -7px rgba(0, 0, 0, 0.75); }

.news-description__share-icon-only {
  padding: 2em; }

.news-description__share-icon-only-item {
  display: block;
  padding-left: .5em;
  padding-right: .5em; }

.news-description__related-article {
  padding: 0 2em; }
  .news-description__related-article .btn {
    font-size: .65rem; }
    .news-description__related-article .btn img {
      position: relative;
      top: -1px; }

.news-description__related-article-video {
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 16px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 16px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 16px -3px rgba(0, 0, 0, 0.75);
  overflow: hidden; }

.news-description__related-article-item {
  padding-right: 0; }

.news-description__related-article-title {
  font-size: .85rem;
  margin-bottom: .5em; }

@media only screen and (max-width: 1199.98px) {
  .news-description__content-shadow {
    box-shadow: none; }
  .news-description__share-item {
    margin-bottom: .75em; } }

@media only screen and (max-width: 991.98px) {
  .news-description__content-title {
    margin-bottom: .75em; }
  .news-description__like {
    overflow: hidden; }
  .news-description__content-right {
    margin-bottom: 3em; }
  .news-description__related-article {
    margin-bottom: 1em; }
  .news-description__related-article-item {
    padding-right: 15px; }
  .news-description__related-article-title {
    margin-top: 1em; } }

@media only screen and (max-width: 767.98px) {
  .news-description__content-left {
    top: auto;
    padding: 2em 15px 2em 0; }
  .news-description__share-icon-only {
    padding: 1em 15px; }
  .news-description__related-article {
    padding: 1em 15px; } }

.contact__info-container {
  max-width: 930px;
  margin-top: 4em; }

.contact__info-box {
  width: 100%;
  height: 200px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 4px 17px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 17px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 17px -5px rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
  padding: 1.5em 4em;
  display: flex;
  display: -webkit-flex;
  align-items: center; }
  .contact__info-box p {
    font-family: 'Helvetica-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    line-height: 1.2; }

@media only screen and (max-width: 1199.98px) {
  .contact__info-container.container {
    max-width: 860px; } }

@media only screen and (max-width: 991.98px) {
  .contact__info-container.container {
    max-width: 720px;
    padding-right: 40px; } }

@media only screen and (max-width: 767.98px) {
  .contact__info-container.container {
    max-width: 100%;
    padding-right: 15px; }
  .contact__info-box {
    margin-bottom: 1em;
    height: auto; } }

/*# sourceMappingURL=main.css.map */
